<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Landing Page</title>
    <link rel="stylesheet" href="./static/css/simple.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <img class="logo" src="./static/images/sp_global_logo.png"/>
            <p>We are revolutionizing technology with innovative solutions, driving customer excellence, and transforming challenges into opportunities for a better future.</p>
            <a href="#about" class="cta-button">Learn More</a>
        </section>

        <section id="about">
            <h2>About Us</h2>
            <p>Delivering cutting-edge technology solutions with a commitment to excellence..</p>
        </section>

        <section id="services">
            <h2>Our Services</h2>
            <p>Delivering innovative solutions, expert advice, reliable services, and comprehensive support.</p>
        </section>

        <section id="contact">
            <h2>Contact Us</h2>
            <p>How to get in touch with you.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024. All rights reserved.</p>
    </footer>
</body>
</html>
